*.o
*.f90
*.mod
*.exe
*.f
lib*.a
*.nc
coawstM
coawstM*
coawstG
coawstG*
Projects/CCS/CCS_output/
Projects/CCS/Build/
Projects/CCS/Setup/
namelist.output
namelist.input.backup*
Projects/CCS/coawstM
Projects/CCS/namelist.output
Projects/CCS/CCS_output/*.nc
Build_roms/
